<!DOCTYPE html>
<html>
    <head>
	    <title>When Did Trump Last Tweet Something?</title>
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rammetto+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
	    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	    <link rel="stylesheet" href="/app.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="mobile-web-app-capable" content="yes">
    </head>
    <body>