<% include partials/header %>

<div class="ui two column stackable centered grid container">
    <div class="column">
        <div class="ui basic segment">
            <div class="ui huge centered header">When did President Trump last tweet something?</div>
        </div>
    </div>
</div>
<div class="ui two column stackable centered grid container">
    <div class="column">
        <div class="ui raised segment">
            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <img src="<%= trumpImg %>">
                    </div>
                    <div class="content">
                        <a class="header"><%= timeSince %></a>
                            <div class="meta">
                                <span>Trump tweeted:</span>
                            </div>
                        <div class="description">
                            <p><%= tweet %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>