<% include partials/header %>

<div class="container-fluid">
    <div class="row">
         <div class="col-sm-12">
            <h1>When did President Trump last tweet something?</h1>   
            <h2><%= timeSince %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <img class="img-responsive img-fluid max-width:100%" src="<%= trumpImg %>">
        </div>
        <div class="col-sm-12 col-lg-8">
            <p id="tweet"> <i class="fas fa-quote-left fa-pull-left"></i> <%= tweet %> <i class="fas fa-quote-right fa-pull-right"></i></p>
        </div>        
    </div>
</div>

<% include partials/footer %>